.main__article-arrows{
    height: 100%;
    display: flex;
    gap: 22em;
   justify-content: center;
   align-items: center;
   font-size: xxx-large; 
}




/* .arrow_right{
    display: flex;
align-items: center;
}

.arrow_left{
    display: flex;
align-items: center;
} */