.catgories{
    display: flex;
}

.main__content {
    display: flex;
    justify-content: center;
    align-items: start;
}

.main__shopContainer{
    height: 280px;
    width: 160px;
    background-color: gray;
}

.products__search{
    width: 300px;
}

.products__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
    width: 90%;
}

.imagePlaceholder > img{
    display: flex;
    justify-content: flex-start;
    width: 240px;
    height: 100px;
}