
.main-event__card {
    display: flex;
    width: 100%;
    margin: 16px auto;
    padding-block-end: 10px;

}

.main-event__card-image {
    height: 300px;
    width: 100%;

}


.main__section-text-cards {
    height :200px;
    background-color: black;
    display: flex;
    text-align: center;

}

.main__section-cards {
    padding: 50px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 50%;
    margin: 0 auto;

}

.main__section-headline {
    padding: 10px;
    margin: 10px;
    border: 1px white solid;
    border-radius: 1px;
    color: goldenrod;
}

.main__section-text {
    color: white;
}